.container {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px, auto);
}

.header {
    background-color: red;
    grid-column: 1/ span 12;
}

.main {
    background-color: blue;
    grid-column: 1/ span 12;
}

.footer {
    background-color: yellow;
    grid-column: 1/ span 12;
}
